
.map{
  height: 1500px;
  width: 1500px;
  object-fit: contain;
  position: relative;
}

p{
  padding: 0;
  margin: 0;
  background-color: powderblue;
  border-radius: 10px;
}

.App {
  text-align: center;
}


.box {
  height:100px;
  width: 100px;
  background: url("https://cdn.pixabay.com/photo/2019/08/19/23/27/wizard-4417430_960_720.png") no-repeat center end ;
  background-size: contain;
}

.container {
  height:auto;
  width: 100px;
  text-align: center;
  position: absolute;
  top: 500;
  left:500;
}



