
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
* {
  font-size: 1vw;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

.mapContainer{
  height: 1600px;
  width: 1200px;
  position: relative;
margin: 0
}

.map{
  width: 1200px;
  height: auto;
   object-fit: contain; 
}

.playerName{
  padding: 5px;
  margin: 0;
  background-color: var(--primary-color);
  display: none;
}

.img {
  user-select: none;
  margin: 0;
  padding: 0;
}


.container {
  /* height: 100px;
  width: 100px; 
  text-align: center;*/
 position: absolute;
}

.container:hover {
z-index: 3;
}

.playerImg {
  width: 80px;
  object-fit: contain;
  margin: auto;
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  


.primaryColor{
  background: var(--primary-color);
}
.successColor{
  background: var(--success-color);
}

.dangerColor{
  background: var(--danger-color);
}





.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='number'],
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form select {
  display:inline-block ;
  width: 70px;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='number']{
  display: inline-block;
  width: 30px;
}

.form input[type='submit'],
button {
  font: inherit;
}

.inline-input {
  padding: 0 20px;
}

.savedPlayersContainer {
  height:auto;
  text-align: center;
  margin: 25px;
  display: inline-block
}

.deleteBtn {
  border-radius: 50%;
  background-color: var(--danger-color);
}

.plusBtn {
  border-radius: 50%;
  background-color: var(--success-color);
}

.minusBtn {
  border-radius: 50%;
  background-color: var(--light-color);
}


 .statContainer {
   position: fixed;
   top: 25px;
   left: 25px;
 }

 .statTitle {
   max-width: 20vw;
   background-color: var(--light-color);
   display: none;
 }

 .container:hover .statTitle {
   display: block;
 }

 .savedPlayersContainer:hover .statTitle {
  display: block;
}

 .statOpen {
   width: 20vw;
   min-width: 250px;
   padding: 0 20px;
    transform: translate(-100px, 0);
 }

 .savedPlayersImg {
   border: 3px solid var(--primary-color)
 }

 .savedPlayersImg:hover {
   border: 3px solid var(--success-color);
 }
 .addPlayerBtn{
   font-size: 25px;
   background-color: var(--primary-color);
 }

 .addPlayerBtn:hover {
  background-color: var(--success-color);
}


  .chatbox  {
    position: fixed;
    top: 2vw;
    right: 2vw;
    height: 30vw;
    width: 15vw;
    max-width: 450px;
    min-width: 200px;
    min-height: 300px;
    background-color: black;
    color: white;
    overflow: auto;
  }

.hp-input {
  width: 50px;
  display: none;
}

  .hp-line:hover .hp-input {
display: inline;
  }

  @media only screen and (max-width: 800px) {
    * {
      font-size: 15px;
    }
    .chatbox {
      left: 2vw;
      top: 40vh;
    }
  }

  .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }
